shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
node-linker=hoisted
save-exact=true
engine-strict=true
resolution-mode=highest
prefer-workspace-packages=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier* 