# DEVELOPMENT ENVIRONMENT

# APPLICATION SETTINGS
NODE_ENV=development
PORT=3000
APP_NAME="Motorove API (Dev)"
API_PREFIX=api
CORS_ORIGIN=*
SWAGGER_ENABLE=true

# DATABASE
DATABASE_URL=database_url

# SUPABASE
SUPABASE_URL=supabase_url
SUPABASE_KEY=supabase_key

# AUTHENTICATION
JWT_SECRET=jwt_secret
JWT_EXPIRATION=1d

# LOGGING
LOG_LEVEL=debug

# MONITORING
SENTRY_DSN=

# FIREBASE SERVICE ACCOUNT
FIREBASE_SERVICE_ACCOUNT='{
  "type": "service_account",
  "project_id": "project_id",
  "private_key_id": "private_key_id",
  "private_key": "private_key",
  "client_email": "client_email",
  "client_id": "client_id",
  "auth_uri": "auth_uri",
  "token_uri": "token_uri",
  "auth_provider_x509_cert_url": "auth_provider_x509_cert_url",
  "client_x509_cert_url": "client_x509_cert_url",
  "universe_domain": "universe_domain"
}'
